# IDE & System
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Backups (Custom)
backups/
*.zip
*.json
!package.json
!package-lock.json
!firebase.json
!functions/package.json
!functions/package-lock.json
*.backup
*.backup_*
*.bak
*.bak.jsx

# Dependencies
node_modules/
.vite/

# Production
dist/
dist-ssr/
*.local

# CSS
.pnp.*
.vscode/*
!.vscode/extensions.json
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
